## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Cali,CO,3.4372,-76.5225,77.00,73,75,4.61,broken clouds
1,1,Rikitea,PF,-23.1203,-134.9692,79.30,74,2,15.55,clear sky
2,2,Arraial Do Cabo,BR,-22.9661,-42.0278,77.81,88,56,8.25,broken clouds
3,3,Alyangula,AU,-13.8483,136.4192,85.53,67,73,17.34,broken clouds
4,4,Deputatskiy,RU,69.3000,139.9000,7.70,89,100,2.75,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.tail(30)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
469,469,Virginia Beach,US,36.8529,-75.9780,72.00,76,100,7.00,overcast clouds
473,473,Burley,US,42.5357,-113.7928,71.60,15,1,19.57,clear sky
474,474,Saint-Georges,GD,12.0564,-61.7485,78.80,83,75,17.27,broken clouds
475,475,Mopipi,BW,-21.1833,24.8833,71.08,56,1,15.68,clear sky
477,477,Pangkalanbuun,ID,-2.6833,111.6167,76.62,95,96,0.45,light rain
478,478,Amapa,BR,1.0000,-52.0000,72.21,99,100,2.68,overcast clouds
480,480,Ipora,BR,-16.4419,-51.1178,71.71,66,75,1.72,broken clouds
482,482,Eirunepe,BR,-6.6603,-69.8736,74.10,97,94,2.19,overcast clouds
487,487,Labuhan,ID,-6.8844,112.2051,78.71,84,90,5.28,overcast clouds
490,490,Umm Lajj,SA,25.0213,37.2685,71.10,53,8,13.62,clear sky
492,492,Rocha,UY,-34.4833,-54.3333,61.72,95,77,3.85,broken clouds
496,496,Nioro,GM,13.3500,-15.7500,76.62,35,2,6.64,clear sky
499,499,Batemans Bay,AU,-35.7167,150.1833,69.01,66,6,1.01,clear sky
503,503,Codrington,AU,-38.2667,141.9667,61.90,61,90,5.59,overcast clouds
505,505,Chake Chake,TZ,-5.2459,39.7666,78.84,83,26,3.60,light rain
507,507,Cockburn Town,TC,21.4612,-71.1419,78.80,69,40,17.27,scattered clouds
511,511,Nueve De Julio,AR,-35.4444,-60.8831,64.00,97,79,1.01,broken clouds
515,515,Katherine,AU,-14.4667,132.2667,78.80,78,97,4.61,overcast clouds
516,516,Humaita,BR,-7.5061,-63.0208,74.07,97,93,0.87,overcast clouds
520,520,Shimoda,JP,34.6667,138.9500,69.01,88,20,8.05,few clouds
521,521,San Quintin,MX,30.4833,-115.9500,68.95,40,0,13.85,clear sky
523,523,Sri Aman,MY,1.2376,111.4621,73.40,100,99,0.72,overcast clouds
524,524,Ritchie,ZA,-29.0380,24.6028,62.60,59,37,8.05,scattered clouds
526,526,Dubai,AE,25.2582,55.3047,73.40,73,0,6.91,clear sky
528,528,Russell,US,32.3502,-85.1999,64.40,82,90,10.36,overcast clouds
529,529,Madikeri,IN,12.4167,75.7333,64.09,97,96,1.28,moderate rain
538,538,Laje,BR,-10.1833,-40.9667,72.91,31,74,3.00,broken clouds
539,539,Cedar City,US,37.6775,-113.0619,66.20,11,1,17.27,clear sky
541,541,Qinzhou,CN,21.9500,108.6167,74.46,87,65,12.80,broken clouds
542,542,Atar,MR,20.5169,-13.0499,76.03,26,72,7.52,broken clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                244
City                   244
Country                240
Lat                    244
Lng                    244
Max Temp               244
Humidity               244
Cloudiness             244
Wind Speed             244
Weather Description    244
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Cali,CO,77.00,broken clouds,3.4372,-76.5225,
1,Rikitea,PF,79.30,clear sky,-23.1203,-134.9692,
2,Arraial Do Cabo,BR,77.81,broken clouds,-22.9661,-42.0278,
7,Mataura,NZ,62.01,scattered clouds,-46.1927,168.8643,
8,Morro Bay,US,71.60,clear sky,35.3658,-120.8499,
9,Whyalla,AU,66.20,clear sky,-33.0333,137.5833,
10,Nanzhang,CN,63.09,clear sky,31.7765,111.8386,
15,East London,ZA,65.16,overcast clouds,-33.0153,27.9116,
17,Saldanha,ZA,62.60,overcast clouds,-33.0117,17.9442,
18,Carnarvon,AU,71.60,scattered clouds,-24.8667,113.6333,

In [24]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

Hotel not found... skipping.

In [30]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Cali,CO,77.00,broken clouds,3.4372,-76.5225,
1,Rikitea,PF,79.30,clear sky,-23.1203,-134.9692,
2,Arraial Do Cabo,BR,77.81,broken clouds,-22.9661,-42.0278,
7,Mataura,NZ,62.01,scattered clouds,-46.1927,168.8643,
8,Morro Bay,US,71.60,clear sky,35.3658,-120.8499,
...,...,...,...,...,...,...,...
529,Madikeri,IN,64.09,moderate rain,12.4167,75.7333,
538,Laje,BR,72.91,broken clouds,-10.1833,-40.9667,
539,Cedar City,US,66.20,clear sky,37.6775,-113.0619,
541,Qinzhou,CN,74.46,broken clouds,21.9500,108.6167,
542,Atar,MR,76.03,broken clouds,20.5169,-13.0499,Oumou Elghoura

In [47]:
# 8a. Create the output File (CSV)
output_data_file_2 = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file_2, index_label="City_ID")

In [45]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))